node_modules
.next
build
.expo
.expo-shared
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite
.env
.env.local
.env.*
.DS_Store
.vscode/
.idea/
.vercel

# Turbo build cache
.turbo

# Build logs
*.log

# Temporary patches
*.patch
